{% extends "layouts/main.html" %}

{% set pageName = "How old is your baby?" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({ text: "Back", href: "javascript:history.back()" }) }}

    {% if errors and errors["baby-age"] %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [{ text: errors["baby-age"], href: "#baby-age" }]
    }) }}
    {% endif %}

    <form method="post" novalidate>
    {{ govukRadios({
      name: "baby-age",
      fieldset: {
        legend: {
          text: "How old is your baby?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      errorMessage: errors["baby-age"] if errors else null,
      value: data["baby-age"],
      items: [
        { value: "under-6-months", text: "Under 6 months old" },
        { value: "6-months-to-1-year", text: "6 months to 1 year old" },
        { value: "1-to-2-years", text: "1 to 2 years old" }
      ]
    }) }}
      {{ govukButton({ text: "Continue" }) }}
    </form>

  </div>
</div>
{% endblock %}
