{% extends "layouts/main.html" %}

{% set pageName = "Teddy bear ordered" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">Teddy bear ordered</h1>
      <div class="govuk-panel__body">
        Your reference number<br>
        <strong>{{ data["reference"] }}</strong>
      </div>
    </div>

    <h2 class="govuk-heading-m">What happens next</h2>
    <p class="govuk-body">We will make your baby's special film teddy bear and send it to you.</p>
    <p class="govuk-body">Your teddy bear will arrive in 2 weeks.</p>
    <p class="govuk-body"><a href="/start" class="govuk-link">Start a new application</a></p>

  </div>
</div>
{% endblock %}
