{% extends "layouts/main.html" %}

{% set pageName = "Get a film teddy bear for your baby" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Get a film teddy bear for your baby</h1>
    <p class="govuk-body">Get a special teddy bear made to look like a character from your baby's favourite film.</p>
    <p class="govuk-body">You will need:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Your baby's favourite film name</li>
      <li>Your address</li>
      <li>A grown-up to help you</li>
    </ul>
    <p class="govuk-body">It takes around <strong>5 minutes</strong> to complete.</p>
    {{ govukButton({
      text: "Start now",
      href: "/baby-age",
      isStartButton: true
    }) }}
  </div>
</div>
{% endblock %}
